/* For desktop: */
.category-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 50px;
}

/* For tablet */
@media only screen and (max-width: 768px){
    .category-container{
        grid-template-columns: repeat(2,1fr);
    }
}

/* For mobile: */
@media only screen and (max-width: 600px){
    .category-container{
        grid-template-columns: repeat(1,1fr);
    }
}

.title {
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
}